$basic-font-family: 'Barlow Semi Condensed', sans-serif;
$basic-bg-color: rgb(17, 16, 16);
$basic-font-color: rgb(245, 222, 179);
$basic-font-weight: 400;
$big-font-weight: 600;

.about-article{
  display: flex;
  flex-flow: column nowrap;
  
  background-color: red;
}