$basic-font-family: 'Barlow Semi Condensed', sans-serif;
$basic-bg-color: rgb(17, 16, 16);
$basic-font-color: rgb(245, 222, 179);
$basic-font-weight: 400;
$big-font-weight: 600;

.content{
  margin: 15vw 0;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .content{
    margin: 10vw 0;
  }
}