$basic-font-family: 'Barlow Semi Condensed', sans-serif;
$basic-bg-color: rgb(17, 16, 16);
$basic-font-color: rgb(245, 222, 179);
$basic-font-weight: 400;
$big-font-weight: 600;

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 50px;
  
  &__navigation-bar{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;

    background-color: $basic-bg-color;

    &>a{
      min-width: 120px;
      max-width: 120px;
      padding: 10px 5px;

      font-size: 1.25em;
      font-weight: $basic-font-weight;
      text-decoration: none;

      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      border-bottom:5px solid $basic-font-color;

      transition: .5s;
    }

    &>a:hover{
      background-color: $basic-font-color;
      border-bottom:5px solid $basic-bg-color;
      transform: translateY(5px);

      color: $basic-bg-color;
      font-weight: $big-font-weight;
    }
  }

  &__mobile-navigation-bar{
    list-style-type: none;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: $basic-bg-color;

    &>h1{
      width: 100vw;
      
      text-align: center;
      font-size: 2em;

      margin-bottom: 30px;
    }

    &>a,&>button{
      width: 100vw;
      height: 15%;
      padding: 10px 0;

      font-size: 1.25em;
      font-weight: $basic-font-weight;
      text-decoration: none;

      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      
      background-color: $basic-bg-color;
      border: none;
      border-bottom:5px solid $basic-font-color;

      transition: .5s;
    }
  }

  &__mobile-show-button{
    width: 40px;
    height: 40px;
    padding: 5px 5px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: $basic-bg-color;
    border: none;

    &:before { 
      font-size: 2em;
      content:'\2630';
     }
  }
  
  &__img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}